body{
  color: #4F5B6A;
}

body .main-content{
  background-color: #F9FAFC;
}

.main-content .container{
  padding-left:  0px;
  margin-left: 2vw;
}

.main-content .solve-button:after{
  content: '';
  display: block;
  clear: both;
}

.main-content .solve-button{
  background-color: #00B8F8;
  color: #FFFFFF;
  width: 20%;
  height: 20%;
  margin-right: 8vw;
  padding: 2vw 13px;
  padding-left: 4vw;
  border-radius: 4px 4px 4px 4px;
  float: right;
  box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.3);
  font-size: 4vw;
}
