#suggestion .container{
  max-width: 920px;
}

#suggestion a{
  text-decoration: none;
  color: black;
}

#suggestion li{
  list-style: none;
  box-shadow: 0px 1px 34px 1px #efefef;
}

#suggestion i{
  font-size: 24px;
}
