

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./top-company.css">
  </head>
  <body>
    <header class="px-2 py-3">
      <div class="container">
        <div class="row">
          <div class="col logo">
            <img src="./Proposta.001.png" alt="">
          </div>
          <div class="col-3">
            <div class="d-flex align-items-center justify-content-end h-100 sharebuttons">
              <div class="m-1">
                <img src="./iine.png" alt="">
              </div>
              <div class="m-1">
                <img src="./twitter.png" alt="">
              </div>
              <div class="m-1">
                <img src="./line.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main-content">
      <div class="photo">
        <div class="logo">
          <img src="./Proposta.001.png" alt="">
        </div>
        <div class="contents">
          これはサンプルです。
        </div>
        <div class="buttons">
          <div class="form-group">
            <div class="container">
              <%= form_tag("create", method: "post") do %>

                <%= label_tag(:name,"会社名") %>
                <%= text_field_tag(:name) %>

                パスワード
              <input class="form-control" type="text" name="" value=""></input>
            </div>
          <a href="0.0.0.0:3000/company/shinonome"><div class="login">
            <%= submit_tag("ログイン") %>
            <% end %>
          </div></a>
          <div class="clear">

          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
